body,html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  height: 7px;
  width:7px;
  display: block;
}

::-webkit-scrollbar-track{
  border-radius: 5px;
}

::-webkit-scrollbar-thumb{
  background: #1f2f98;
  border-radius: 5px;
}